@charset "utf-8";
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.textSelectable {
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* this works on iOS, not on android */
.preventLongPress {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('../../libs/fonts/titilliumWeb400.woff') format('woff');
}
body,
td,
th,
select,
input,
textarea {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  color: #3f3f3f;
}
h1 {
  font-weight: normal;
}
.workAreaContainer {
  background: #f5f5f5;
  border: 2px solid #faa519;
  border-radius: 3px;
}
.toolAreaContainer {
  background: #f5f5f5;
  border: 2px solid #faa519;
  border-radius: 3px;
}
.toolArea {
  padding: 5px;
}
.areaLabel {
  width: 100%;
  background: #00bacc;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  height: 25px;
}
.activeButton {
  border: 1px solid #939597;
  border-radius: 2px;
  background-color: #92d6e3;
  background-size: contain;
}
.activeButton:hover {
  background-color: #00bacc;
  background-size: contain;
}
.activeButton:active {
  background-color: #faa519;
  background-size: contain;
}
.pressedButton,
.pressedButton:active,
.pressedButton:hover {
  background-color: #faa519;
  background-size: contain;
}
.pressedButton:hover {
  background-color: #faa519;
  background-size: contain;
}
.pressedButton:active {
  background-color: #faa519;
}
.disabledButton,
.disabledButton:hover,
.disabledButton:active {
  background-color: #f5f5f5;
  color: #939597;
}
.fontAweSomeButton {
  padding: 4px;
  margin: 2px;
  margin-bottom: 5px;
  font-size: 23px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fontAweSomeButtonSmall {
  padding: 2px;
  margin: 2px;
  margin-bottom: 2px;
  font-size: 17px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fontAweSomeButtonLarge {
  padding: 6px;
  margin: 2px;
  margin-bottom: 5px;
  font-size: 29px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.golabDroppable {
  border: 2px dotted #faa519 !important;
}
.dropObjectOutSideDropArea {
  opacity: 0.35;
}
