#etherpad_activityframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#etherpad_activityframe iframe {
    width: 100%;
    height: 100%;
}
#etherpad_closeframe {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    background: #d9edf7;
    border-top: 1px solid #bce8f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#etherpad_showframe {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    background: #d9edf7;
    border-top: 1px solid #bce8f1;
    width: 100%;
}
